@font-face {
  src: url("../fonts/product-sans/product_sans.woff2");
  font-family: 'product-sans';
  font-style: normal; }

@font-face {
  src: url("../fonts/digital-dismay/digital_dismay-webfont.woff2");
  font-family: 'digital-dismay';
  font-style: normal; }

html, body {
  margin: 0px;
  padding: 0px;
  font-family: 'product-sans';
  letter-spacing: 0.2vw;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0px; }

.time-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  margin-top: 4vh; }

.time-header__page-mark {
  width: 4vw;
  height: inherit;
  background-color: #9FD4FF; }

.time-brand-icon {
  width: 10vw;
  height: auto;
  margin-left: 2vw; }

.time-header__search {
  position: relative;
  margin-left: auto;
  margin-right: 4vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 35vw; }

.time-header__search-field {
  width: 100%;
  padding-right: 4vw;
  padding-left: 1vw;
  border: none;
  border-bottom: 2px solid #A4A4A4;
  color: #A4A4A4;
  font-size: 1.5rem; }

.time-header__search-field:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none; }

.time-header__search-icon {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  width: 1.5vw;
  height: auto;
  position: absolute;
  right: 0; }

.time-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  margin-top: 10vh; }

.time-body__clock {
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  border: 6px solid #7B7B7B;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 8vw;
  background: url("../images/icons/Group 61.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative; }

.time-clock__center {
  width: 1.8vw;
  height: 1.8vw;
  border-radius: 50%;
  background-color: #252525;
  position: absolute;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.13); }

.time-clock__hand {
  border-radius: 50vw;
  background-color: #252525;
  position: absolute;
  -webkit-transform-origin: 100%;
  -ms-transform-origin: 100%;
  transform-origin: 100%;
  -webkit-box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.13); }

.time-clock__hand--hour {
  width: 25%;
  height: 1vw;
  left: calc(50% - 25%);
  top: calc(50% - 0.5vw);
  -webkit-transition: -webkit-transform 0.33s cubic-bezier(0, 0.72, 0.39, 1.54);
  transition: -webkit-transform 0.33s cubic-bezier(0, 0.72, 0.39, 1.54);
  -o-transition: transform 0.33s cubic-bezier(0, 0.72, 0.39, 1.54);
  transition: transform 0.33s cubic-bezier(0, 0.72, 0.39, 1.54);
  transition: transform 0.33s cubic-bezier(0, 0.72, 0.39, 1.54), -webkit-transform 0.33s cubic-bezier(0, 0.72, 0.39, 1.54); }

.time-clock__hand--minute {
  width: 32%;
  height: 0.75vw;
  left: calc(50% - 32%);
  top: calc(50% - 0.375vw);
  -webkit-transition: -webkit-transform 0.33s cubic-bezier(0, 0.72, 0.39, 1.54);
  transition: -webkit-transform 0.33s cubic-bezier(0, 0.72, 0.39, 1.54);
  -o-transition: transform 0.33s cubic-bezier(0, 0.72, 0.39, 1.54);
  transition: transform 0.33s cubic-bezier(0, 0.72, 0.39, 1.54);
  transition: transform 0.33s cubic-bezier(0, 0.72, 0.39, 1.54), -webkit-transform 0.33s cubic-bezier(0, 0.72, 0.39, 1.54); }

.time-clock__hand--second {
  width: 37%;
  height: 0.4vw;
  left: calc(50% - 37%);
  top: calc(50% - 0.2vw);
  -webkit-transition: -webkit-transform 0.33s cubic-bezier(0, 0.72, 0.39, 1.54);
  transition: -webkit-transform 0.33s cubic-bezier(0, 0.72, 0.39, 1.54);
  -o-transition: transform 0.33s cubic-bezier(0, 0.72, 0.39, 1.54);
  transition: transform 0.33s cubic-bezier(0, 0.72, 0.39, 1.54);
  transition: transform 0.33s cubic-bezier(0, 0.72, 0.39, 1.54), -webkit-transform 0.33s cubic-bezier(0, 0.72, 0.39, 1.54);
  background-color: red; }

.time-body__details {
  width: auto;
  min-width: 30vw;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #fff; }

.time-body__details-title {
  color: #A4A4A4;
  font-weight: 100;
  margin-bottom: 2vh;
  font-size: 1.8vw; }

.time-body__details-time {
  color: #9FD4FF;
  font-family: 'digital-dismay';
  font-size: 6.5vw;
  letter-spacing: .4vw;
  margin-bottom: 10vh; }

.time-body__details-timezone {
  color: #A4A4A4;
  font-weight: bold;
  font-size: 2.2vw;
  letter-spacing: .4vw; }
