// #################### App UI Variables ##################
$primary-color: #9FD4FF;
$secondary-color: #A4A4A4;
$clock-ui-color: #7B7B7B;
$light-gray: #F1F1F1;
$copywrite-color: #CBCBCB; 

$box-shadow-normal: 0px 3px 6px rgba(0, 0, 0, .16);
$box-shadow-clock: 0px 8px 3px rgba(0, 0, 0, .13);

$transition-standard: all 0.33s ease-in-out;


// #################### App UI Fonts ##################
@font-face {
    src: url('../fonts/product-sans/product_sans.woff2');
    font-family: 'product-sans';
    font-style: normal;
}

@font-face {
    src: url('../fonts/digital-dismay/digital_dismay-webfont.woff2');
    font-family: 'digital-dismay';
    font-style: normal;
}

html, body {
    margin: 0px;
    padding: 0px;
    font-family: 'product-sans';
    letter-spacing: 0.2vw;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
}


// #################### App Header UI settings ##################
.time-header {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    align-items: stretch;
    margin-top: 25px;
    margin-bottom: 40px;
}

.time-header__page-mark {
    width: 4vw;
    height: inherit;
    background-color: $primary-color;
}

.time-brand-icon {
    width: 10vw;
    height: auto;
    margin-left: 2vw;
}

.time-header__search {
    position: relative;
    margin-left: auto;
    margin-right: 4vw;
    display: flex;
    align-items: stretch;
    width: 35vw;
}

.time-header__search-field {
    width: 100%;
    padding-right: 4vw;
    padding-left: 1vw;
    border: none;
    border-bottom: 2px solid $secondary-color;
}
.time-header__search-field:focus {
    box-shadow: none;
    outline: none;
}

.time-header__search-icon {
    align-self: center;
    width: 1.5vw;
    height: auto;
    position: absolute;
    right: 0;
}


// #################### App Main Body UI settings ##################
.time-body{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}


// #################### App Clock UI settings ##################
.time-body__clock {
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    border: 6px solid $clock-ui-color;
    box-sizing: border-box;
    margin-right: 8vw;
    background: url('../images/icons/globe.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


// #################### App Clock Details UI settings ##################
.time-body__details {
    width: 30vw;
    height: auto;
    background-color: #fff;
}