// #################### App UI Variables ##################
$primary-color: #9FD4FF;
$secondary-color: #A4A4A4;
$clock-ui-color-hand: #252525;
$clock-ui-color: #7B7B7B;
$light-gray: #F1F1F1;
$sidenav-horizontal-line-color: #E4E4E4;
$copywrite-color: #CBCBCB; 

$box-shadow-normal: 0px 3px 6px rgba(0, 0, 0, .16);
$box-shadow-clock: 0px 4px 3px rgba(0, 0, 0, .13);

$transition-standard: all 0.33s ease-in-out;
$clock-hand-transition: transform 0.33s cubic-bezier(0, 0.72, 0.39, 1.54);


// #################### App UI Fonts ##################
@font-face {
    src: url('../fonts/product-sans/product_sans.woff2');
    font-family: 'product-sans';
    font-style: normal;
}

@font-face {
    src: url('../fonts/digital-dismay/digital_dismay-webfont.woff2');
    font-family: 'digital-dismay';
    font-style: normal;
}

html, body {
    margin: 0px;
    padding: 0px;
    font-family: 'product-sans';
    letter-spacing: 0.2vw;
    user-select: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
}


// #################### App Header UI settings ##################
.time-header {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    align-items: stretch;
    margin-top: 4vh;
    
    @media only screen and (max-width: 600px)  {
        margin-top: 0;
        height: 10vh;
        box-shadow: $box-shadow-normal;
    }
}

.time-header__page-mark {
    width: 4vw;
    height: inherit;
    background-color: $primary-color;
    
    @media only screen and (max-width: 600px)  {
        display: none;
    }
}

.time-brand-icon {
    width: 10vw;
    height: auto;
    margin-left: 2vw;
    
    @media only screen and (max-width: 600px)  {
        width: 25vw;
        margin-left: 5vw;
    }
}

.time-header__search {
    position: relative;
    margin-left: auto;
    margin-right: 4vw;
    display: flex;
    align-items: stretch;
    width: 35vw;
    
    @media only screen and (max-width: 600px)  {
        margin-right: 0;
    }
}

.time-header__search-field {
    width: 100%;
    padding-right: 4vw;
    padding-left: 1vw;
    border: none;
    border-bottom: 2px solid $secondary-color;
    color: $secondary-color;
    font-size: 1.5rem;
    
    @media only screen and (max-width: 600px)  {
        display: none;
    }
}
.time-header__search-field:focus {
    box-shadow: none;
    outline: none;
}

.time-header__search-icon {
    display: block;
    align-self: center;
    width: 1.5vw;
    height: auto;
    position: absolute;
    right: 0;
    
    @media only screen and (max-width: 600px)  {
        display: none;
        width: 7vw;
        margin-right: 5vw;
    }
}

.time-header__mobile-search-icon {
    display: none;
    align-self: center;
    height: auto;
    position: absolute;
    right: 0;

    @media only screen and (max-width: 600px)  {
        display: block;
        width: 7vw;
        margin-right: 5vw;
    }

}


// #################### App Mobile Sidenav UI settings ##################
.time-sidenav {
    display: none;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 100%;
    background-color: #fff;
    z-index: 1;
    transition: $transition-standard;
    flex-direction: column;
    align-items: stretch;

    @media only screen and (max-width: 600px)  {
        display: none;
    }
}

.time-sidenav__header {
    height: 12vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vh;
}

.time-side-nav__search-field {
    width: 74%;
    height: 5vh;
    border: none;
    border-radius: 3px;
    background-color: $light-gray;
    padding: 0 3vw 0 3vw;
    color: $secondary-color;
}
.time-side-nav__search-field:focus {
    outline: none;
}

.time-side-nav__back-btn {
    width: 6%;
    height: auto;
    margin-right: 4%;
}

.time-side-nav__search-result {
    height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time-side-nav__search-result__part {
    width: 90%;
    height: 7vh;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $sidenav-horizontal-line-color;
    color: $secondary-color;
    margin-bottom: 1vh;
}


// #################### App Main Body UI settings ##################
.time-body{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    margin-top: 10vh;
    
    @media only screen and (max-width: 600px)  {
        flex-direction: column;
        align-items: center;
        margin-top: 8vh;
    }
}


// #################### App Clock UI settings ##################
.time-body__clock {
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    border: 6px solid $clock-ui-color;
    box-sizing: border-box;
    margin-right: 8vw;
    background: url('../images/icons/Group\ 61.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    
    @media only screen and (max-width: 600px)  {
        width: 70vw;
        height: 70vw;
        margin-right: 0;
        margin-bottom: 6vh;
    }
}

.time-clock__center {
    width: 1.8vw;
    height: 1.8vw;
    border-radius: 50%;
    background-color: $clock-ui-color-hand;
    position: absolute;
    transform-origin: center center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: $box-shadow-clock;
}

.time-clock__hand {
    border-radius: 50vw;
    background-color: $clock-ui-color-hand;
    position: absolute;
    transform-origin: 100%;
    box-shadow: $box-shadow-clock;
}

.time-clock__hand--hour {
    $hour-width: 25%;
    $hour-height: 1vw;
    width: $hour-width;
    height: $hour-height;
    left: calc(50% - #{$hour-width});
    top: calc(50% - #{$hour-height/2});
    transition: $clock-hand-transition; 
}

.time-clock__hand--minute {
    $minute-width: 32%;
    $minute-height: .75vw;
    width: $minute-width;
    height: $minute-height;
    left: calc(50% - #{$minute-width});
    top: calc(50% - #{$minute-height/2});
    transition: $clock-hand-transition; 
}

.time-clock__hand--second {
    $second-width: 37%;
    $second-height: .4vw;
    width: $second-width;
    height: $second-height;
    left: calc(50% - #{$second-width});
    top: calc(50% - #{$second-height/2});
    transition: $clock-hand-transition; 
    background-color: red;
}


// #################### App Clock Details UI settings ##################
.time-body__details {
    width: auto;
    min-width: 30vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    
    @media only screen and (max-width: 600px)  {
        align-items: center;
    }
}

.time-body__details-title {
    color: $secondary-color;
    font-weight: 100;
    margin-bottom: 2vh; 
    font-size: 1.8vw;
    
    @media only screen and (max-width: 600px)  {
        font-size: 6vw;
    }
}

.time-body__details-time {
    color: $primary-color;
    font-family: 'digital-dismay';
    font-size: 6.5vw;
    letter-spacing: .4vw;
    margin-bottom: 10vh; 
    
    @media only screen and (max-width: 600px)  {
        font-size: 18vw;
        margin-bottom: 5vh;
    }
}

.time-body__details-timezone {
    color: $secondary-color;
    font-weight: bold;
    font-size: 2.2vw;
    letter-spacing: .4vw; 
    
    @media only screen and (max-width: 600px)  {
        font-size: 7vw;
    }
}


// #################### App Copywrite UI settings ##################
.time__copywrite-text {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 1vw;
    letter-spacing: .1vw;
    color: $copywrite-color; 
    display: block;
    
    @media only screen and (max-width: 600px)  {
        width: 100%;
        text-align: center;
        right: unset;
        font-size: 3vw;
    }
}